# DO NOT COMMIT THIS FILE - IT WILL CONTAIN YOUR SENSITIVE KEYS.
# Copy this file to ".env" and add your keys. (.env will not be committed)

# Create an OpenAI API key at https://platform.openai.com/account/api-keys
OPENAI_API_KEY="sk-123..."

# (optional) Create an OpenAI Assistant at https://platform.openai.com/assistants.
# IMPORTANT! Be sure to enable file search and code interpreter tools.
OPENAI_ASSISTANT_ID="123..."

# Briostack API configuration
BRIOSTACK_INSTANCE_NAME="demo-instance"
BRIOSTACK_API_KEY="demo-api-key"
