{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Briostack API",
    "description" : "### Introduction\nBriostack is a SaaS CRM application for pest control and lawn care service businesses. The Briostack API gives third-party software developers access to\nBriostack application data for the purpose of providing additional features or services for our subscribers.\n\n### About the API\nThe Briostack API is RESTful Web API. Applications use the API by sending HTTP requests to our servers. The Content-Type for all requests and responses is\n```application/json```. The API can be used with applications written in any programming language capable of making secure HTTP requests and processing\nJSON-formatted data, including Java, C##, Javascript, Python and many others.\n\n### Getting Started\n#### The API URL\nThe _base URL_ for each API endpoint is of the form\n\n  ```https://<instance-name>.briostack.io/rest/v1/```\n\nEvery Briostack subscriber has a unique instance name. The instance name is the subdomain of briostack.io that identifies the subscriber whose data you wish to\naccess. When you engage one of our subscribers, they will provide you with their Briostack instance name. You must use the *briostack.io* domain for API\nrequests, not briostack.com, which supports the Briostack user interface.\n\nThe resource-uri paths documented in this API Reference should be appended to the base URL to form the complete endpoint URL used in your HTTP request.\n\n#### API Keys\nAn API key must accompany every API request. You obtain an API key in one of two ways, depending on the type of key desired:\n\n- An _Integration Partner API Key_ allows API access to the data of any Briostack subscriber through a common API key.\nRegistered Integration Partner applications are listed in the Partner Directory in the Briostack UI and may be enabled by a subscriber with a single click.\n\n- A _User API Key_ allows access to the data of a specific Briostack subscriber. This type of key is associated with a specific user in the subscriber's\ninstance. An administrator or other Briostack application user with appropriate permission can create a User API key in their My Account settings.\n\nRegardless of the type of key, it must be provided with each API request as an HTTP header named ```x-api-key```.\n\n## More Information\nFor more information, please refer to the [Briostack API Developer's Guide](https://community.briostack.com/t/h7ym0b8/about-the-public-api)\n\n### For Support\n",
    "contact" : {
      "name" : "support@briostack.com",
      "email" : "support@briostack.com"
    },
    "version" : "1.0",
    "summary" : "API access to Briostack application data"
  },
  "servers" : [ {
    "url" : "https://pestproridall.briostack.io/rest/v1",
    "description" : "production"
  }, {
    "url" : "https://apisandbox.briostack.io/rest/v1",
    "description" : "sandbox"
  } ],
  "paths" : {
    "/branches" : {
      "get" : {
        "tags" : [ "branches" ],
        "summary" : "Get a list of branches",
        "description" : "## Usage\n- A maximum of 10000 branches will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getBranches",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BranchPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/branches/{branchId}/technicians" : {
      "get" : {
        "tags" : [ "employees", "branches" ],
        "summary" : "Get a list of employees",
        "description" : "## Usage\n- A maximum of 10000 employees will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getTechniciansForBranchesById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "branchId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EmployeePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/branches/{branchId}/technicians/{employeeId}" : {
      "get" : {
        "tags" : [ "employees", "branches" ],
        "summary" : "Get an employee",
        "operationId" : "getTechniciansByIdForBranchesById",
        "parameters" : [ {
          "name" : "employeeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "branchId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employee"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers" : {
      "get" : {
        "tags" : [ "customers" ],
        "summary" : "Get a list of customers",
        "description" : "## Usage\n- A maximum of 10000 customers will be returned in a single GET -- use `start` and `limit` for paging.\n ## Indexes:\n - customerId, firstName, lastName, branchId, accountTypeId, channelId",
        "operationId" : "getCustomers",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomerPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "customers" ],
        "summary" : "Create a new customer",
        "operationId" : "addToCustomers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}" : {
      "get" : {
        "tags" : [ "customers" ],
        "summary" : "Get a customer",
        "operationId" : "getCustomersById",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "customers" ],
        "summary" : "Update a customer",
        "description" : "Update a customer resource; supplied properties are overwritten -- absent properties are unchanged",
        "operationId" : "updateCustomersById",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/appointments/{appointmentId}" : {
      "get" : {
        "tags" : [ "appointments", "customers" ],
        "summary" : "Get an appointment",
        "operationId" : "getAppointmentsByIdForCustomersById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "appointments", "customers" ],
        "summary" : "Update an appointment",
        "operationId" : "updateAppointmentsByIdForCustomersById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/appointments" : {
      "get" : {
        "tags" : [ "appointments", "customers" ],
        "summary" : "Get a list of appointments",
        "description" : "## Usage\n- A maximum of 10000 appointments will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getAppointmentsForCustomersById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppointmentPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "appointments", "customers" ],
        "summary" : "Create a new appointment",
        "operationId" : "addToAppointmentsForCustomersById",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/documents" : {
      "get" : {
        "tags" : [ "documents", "customers" ],
        "summary" : "Get a list of documents",
        "description" : "## Usage\n- A maximum of 10000 resources will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getDocumentsForCustomersById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DocumentPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "documents", "customers" ],
        "summary" : "Upload a new document",
        "operationId" : "addToDocumentsForCustomersById",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentUploadForm"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentPartial"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/documents/{documentId}" : {
      "get" : {
        "tags" : [ "documents", "customers" ],
        "summary" : "Get a document",
        "operationId" : "getDocumentsByIdForCustomersById",
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentPartial"
                }
              },
              "*/*" : { }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "documents", "customers" ],
        "summary" : "Update a document",
        "description" : "Update a document resource; supplied properties are overwritten -- absent properties are unchanged",
        "operationId" : "updateDocumentsByIdForCustomersById",
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Document"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/services" : {
      "get" : {
        "tags" : [ "services", "customers" ],
        "summary" : "Get a list of service resources",
        "description" : "## Usage\n- A maximum of 10000 services will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getServicesForCustomersById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServicePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "services", "customers" ],
        "summary" : "Create a new service resource",
        "operationId" : "addToServicesForCustomersById",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/services/{serviceId}" : {
      "get" : {
        "tags" : [ "services", "customers" ],
        "summary" : "Get details about a service",
        "operationId" : "getServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "services", "customers" ],
        "summary" : "Update a service",
        "description" : "Update a service resource; supplied properties are overwritten -- absent properties are unchanged",
        "operationId" : "updateServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/services/{serviceId}/appointments/{appointmentId}" : {
      "get" : {
        "tags" : [ "appointments", "services", "customers" ],
        "summary" : "Get an appointment",
        "operationId" : "getAppointmentsByIdForServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "appointments", "services", "customers" ],
        "summary" : "Update an appointment",
        "operationId" : "updateAppointmentsByIdForServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/customers/{customerId}/services/{serviceId}/appointments" : {
      "get" : {
        "tags" : [ "appointments", "services", "customers" ],
        "summary" : "Get a list of appointments",
        "description" : "## Usage\n- A maximum of 10000 appointments will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getAppointmentsForServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppointmentPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "appointments", "services", "customers" ],
        "summary" : "Create a new appointment",
        "operationId" : "addToAppointmentsForServicesByIdForCustomersById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/enumerations/account-types" : {
      "get" : {
        "tags" : [ "miscelleous" ],
        "summary" : "Get a list of Account Types",
        "operationId" : "getAccount-typesForEnumerations",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumeratedValue"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/enumerations/callback-windows" : {
      "get" : {
        "tags" : [ "miscelleous" ],
        "summary" : "Get a list of Callback Windows",
        "operationId" : "getCallback-windowsForEnumerations",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumeratedValue"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/enumerations/marketing-channels" : {
      "get" : {
        "tags" : [ "miscelleous" ],
        "summary" : "Get a list of Marketing Channels",
        "operationId" : "getMarketing-channelsForEnumerations",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumeratedValue"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/enumerations/primary-concerns" : {
      "get" : {
        "tags" : [ "miscelleous" ],
        "summary" : "Get a list of Primary Concerns",
        "operationId" : "getPrimary-concernsForEnumerations",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnumeratedValue"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/leads" : {
      "get" : {
        "tags" : [ "leads" ],
        "summary" : "Get a list of leads",
        "description" : "## Usage\n - A maximum of 10000 leads will be returned in a single GET -- use `start` and `limit` for paging.\n ## Indexes:\n - leadId, branchId, officeId, channelId, leadType, leadRank, primarySalesRepId, dateAcquired, callBackDate, callBackTime, outOfContractDate, callBackWindow, active",
        "operationId" : "getLeads",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LeadPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "leads" ],
        "summary" : "Create a new lead",
        "operationId" : "addToLeads",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Lead"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Lead"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/leads/{leadId}" : {
      "get" : {
        "tags" : [ "leads" ],
        "summary" : "Get a lead",
        "operationId" : "getLeadsById",
        "parameters" : [ {
          "name" : "leadId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Lead"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "leads" ],
        "summary" : "Update a lead",
        "description" : "Update a lead resource; supplied properties are overwritten -- absent properties are unchanged",
        "operationId" : "updateLeadsById",
        "parameters" : [ {
          "name" : "leadId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Lead"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/marketing-campaigns" : {
      "get" : {
        "tags" : [ "marketing-campaigns" ],
        "summary" : "Get a list of marketing campaigns",
        "description" : "## Usage\n- A maximum of 10000 marketing campaigns will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getMarketing-campaigns",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MarketingCampaignPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/offices" : {
      "get" : {
        "tags" : [ "offices" ],
        "summary" : "Get a list of sales offices",
        "description" : "## Usage\n- A maximum of 10000 offices will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getOffices",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfficePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/offices/{officeId}/sales-reps" : {
      "get" : {
        "tags" : [ "employees", "offices" ],
        "summary" : "Get a list of employees",
        "description" : "## Usage\n- A maximum of 10000 employees will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getSales-repsForOfficesById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "officeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EmployeePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/offices/{officeId}/sales-reps/{employeeId}" : {
      "get" : {
        "tags" : [ "employees", "offices" ],
        "summary" : "Get an employee",
        "operationId" : "getSales-repsByIdForOfficesById",
        "parameters" : [ {
          "name" : "employeeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "officeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employee"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/appointments/{appointmentId}" : {
      "get" : {
        "tags" : [ "appointments" ],
        "summary" : "Get an appointment",
        "operationId" : "getAppointmentsById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "appointments" ],
        "summary" : "Update an appointment",
        "operationId" : "updateAppointmentsById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/appointments" : {
      "get" : {
        "tags" : [ "appointments" ],
        "summary" : "Get a list of appointments",
        "description" : "## Usage\n- A maximum of 10000 appointments will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getAppointments",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppointmentPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "appointments" ],
        "summary" : "Create a new appointment",
        "operationId" : "addToAppointments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/employees" : {
      "get" : {
        "tags" : [ "employees" ],
        "summary" : "Get a list of employees",
        "description" : "## Usage\n- A maximum of 10000 employees will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getEmployees",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EmployeePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/employees/{employeeId}" : {
      "get" : {
        "tags" : [ "employees" ],
        "summary" : "Get an employee",
        "operationId" : "getEmployeesById",
        "parameters" : [ {
          "name" : "employeeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employee"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/services" : {
      "get" : {
        "tags" : [ "services" ],
        "summary" : "Get a list of service resources",
        "description" : "## Usage\n- A maximum of 10000 services will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getServices",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServicePartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "services" ],
        "summary" : "Create a new service resource",
        "operationId" : "addToServices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/services/{serviceId}" : {
      "get" : {
        "tags" : [ "services" ],
        "summary" : "Get details about a service",
        "operationId" : "getServicesById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "services" ],
        "summary" : "Update a service",
        "description" : "Update a service resource; supplied properties are overwritten -- absent properties are unchanged",
        "operationId" : "updateServicesById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/services/{serviceId}/appointments/{appointmentId}" : {
      "get" : {
        "tags" : [ "appointments", "services" ],
        "summary" : "Get an appointment",
        "operationId" : "getAppointmentsByIdForServicesById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "appointments", "services" ],
        "summary" : "Update an appointment",
        "operationId" : "updateAppointmentsByIdForServicesById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/services/{serviceId}/appointments" : {
      "get" : {
        "tags" : [ "appointments", "services" ],
        "summary" : "Get a list of appointments",
        "description" : "## Usage\n- A maximum of 10000 appointments will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getAppointmentsForServicesById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppointmentPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "appointments", "services" ],
        "summary" : "Create a new appointment",
        "operationId" : "addToAppointmentsForServicesById",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/service-categories" : {
      "get" : {
        "tags" : [ "service-categories" ],
        "summary" : "Get a list of service categories",
        "description" : "## Usage\n- A maximum of 10000 service categories will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getService-categories",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceCategoryPartial"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/service-categories/{serviceCategoryId}" : {
      "get" : {
        "tags" : [ "service-categories" ],
        "summary" : "Get details about a service category",
        "operationId" : "getService-categoriesById",
        "parameters" : [ {
          "name" : "serviceCategoryId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategory"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/service-categories/{serviceCategoryId}/appointments/{appointmentId}" : {
      "get" : {
        "tags" : [ "appointments", "service-categories" ],
        "summary" : "Get an appointment",
        "operationId" : "getAppointmentsByIdForService-categoriesById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceCategoryId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "appointments", "service-categories" ],
        "summary" : "Update an appointment",
        "operationId" : "updateAppointmentsByIdForService-categoriesById",
        "parameters" : [ {
          "name" : "appointmentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceCategoryId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Appointment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "JWT" : [ ]
        }, {
          "APIKEY" : [ ]
        } ]
      }
    },
    "/service-categories/{serviceCategoryId}/appointments" : {
      "get" : {
        "tags" : [ "appointments", "service-categories" ],
        "summary" : "Get a list of appointments",
        "description" : "## Usage\n- A maximum of 10000 appointments will be returned in a single GET -- use `start` and `limit` for paging.",
        "operationId" : "getAppointmentsForService-categoriesById",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "return only resources matching this expression -- see [Filter Expression](https://community.briostack.com/t/h7ym0b8/about-the-public-api#filter-expression)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "collection index at which to start returning resources",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "minimum" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximum number of resources to return",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100,
            "maximum" : 10000,
            "minimum" : 1
          }
        }, {
          "name" : "sort-by",
          "in" : "query",
          "description" : "property to sort by; prefix with '-' for descending sort; use multiple 'sort-by' parameters for multi-level sort",
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "get-size",
          "in" : "query",
          "description" : "'true' to request the complete size of the [filtered] collection to be returned in the 'filtered-collection-size' response header",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "serviceCategoryId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "filtered-collection-size" : {
                "description" : "size of the filtered collection, if get-size was requested",
                "style" : "simple",
                "schema" : { }
              }
            },
[...]
